doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/style.min.css")
        title Homework 4
    body
        .wrapper
            header.header
                nav.header__nav
                    span.header__hook Menu Here
                    ul.header__list
                        li
                            a(href="#") Home
                        li
                            a(href="#") Contacts
                        li
                            a(href="#") Our Team
                        li
                            a(href="#") FAQ
                        li
                            a(href="#") About
                        li
                            a(href="#") News
            .content
                .main
                    .cards
                        blockquote.cards__quote(cite="http://doc.a-level.com.ua/markup__lesson04")
                            p "Судьба тасует карты, а мы ими играем."
                            span Артур Шопенгауэр
                        img.cards__img.cards__img--back(src="images/card01.png", alt="game card")
                        img.cards__img.cards__img--middle(src="images/card01.png", alt="game card")
                        img.cards__img.cards__img--front(src="images/card01.png", alt="game card")
                    .box
                        .box__item

                    .action
                        .action__box